.android {
  background-color: #fff;
  border: 1px solid #e5e5ea;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem;
}

.android p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
}

.android p.from-me {
  align-self: flex-end;
  background-image: linear-gradient(to right, #1b79f3, #0d57d4); /* #248bf5;*/
  color: #fff;
}

.android p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

.android p.from-me::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.android p[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}

.android p.from-me ~ p.from-me {
  margin: 0.25rem 0 0;
}

.android p.from-me ~ p.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

.android p.from-me ~ p.from-me:last-child {
  margin-bottom: 0.5rem;
}

.android p.from-them {
  align-items: flex-start;
  background-color: #eff3fc;
  color: #000;
}

.android p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

.android p.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.android p[class^="from-"].no-bubble {
  background: none;
}

.android p[class^="from-"].no-bubble::before {
  content: none;
}

.android p[class^="from-"].emoji {
  background: none;
  font-size: 2.5rem;
}

.android p[class^="from-"].emoji::before {
  content: none;
}

.android .no-tail::before {
  display: none;
}

.android .margin-b_none {
  margin-bottom: 0 !important;
}

.android .margin-b_one {
  margin-bottom: 1rem !important;
}

.android .margin-t_one {
  margin-top: 1rem !important;
}
